In [131]:
from fin_data_fundamentals import find_fundamentals
from fin_data_fundamentals import get_fundamentals
from alpha_vantage.foreignexchange import ForeignExchange
from alpha_vantage.techindicators import TechIndicators
from alpha_vantage.timeseries import TimeSeries
from decouple import config
import pandas as pd
import numpy as np
import quandl
import datetime
from sklearn.preprocessing import MinMaxScaler

In [132]:
from fin_data import DailyTimeSeries

In [133]:
from keras.preprocessing.sequence import TimeseriesGenerator

In [134]:
tesla = DailyTimeSeries('TSLA')

df = tesla.initiate()

###################################################################
 Ticker:  TSLA
 Last Refreshed:  2019-09-03
 Data Retrieved:  Daily Prices (open, high, low, close) and Volumes
 ###################################################################

In [135]:
df.head()

            TSLA open  TSLA high  TSLA low  TSLA close  TSLA volume
date
2010-06-29      19.00    24.9984     17.54       23.89   18766300.0
2010-06-30      25.79    30.4190     23.30       23.83   17187100.0
2010-07-01      25.00    25.9200     20.27       21.96    8218800.0
2010-07-02      23.00    23.0998     18.71       19.20    5139800.0
2010-07-06      20.00    20.0000     15.83       16.11    6866900.0

In [136]:

macro_list = ["housing_index", "trade_index", "confidence_index", "longterm_rates"]

In [137]:
df = tesla.add_macro(df, macro_list)

###################################################################
 Index: Nominal Home Price Index Added
 ###################################################################

C:\Users\Billi\repos\market_makers\Data-Science\data\fin_data.py:293: UserWarning: The latest value available for Housing Index is from January 2019.
  warnings.warn("The latest value available for Housing Index is from January 2019.")

###################################################################
 Trade Weighted U.S. Dollar Index: Broad Added
 ###################################################################
###################################################################
 Index: Yale Investor Behavior Project Added
 ###################################################################
###################################################################
 US Treasury Bond Long-Term Rates Added
 ###################################################################

In [138]:
fund_list = ["operatingrevenue", "totalrevenue", "netincome", "totaloperatingexpenses", "totalgrossprofit", "totaloperatingincome"]

In [139]:
df = tesla.add_fundamentals(df, fund_list)

###################################################################
 Ticker:  TSLA
 Fundamentals Retrieved:  ['TSLA open' 'TSLA high' 'TSLA low' 'TSLA close' 'TSLA volume'
 'housing_index' 'trade_value' 'conf_index' 'conf_index_SE' '10 Yrs Rates'
 '20-Yr Maturity Rate' 'TSLA_operatingrevenue' 'TSLA_totalrevenue'
 'TSLA_netincome' 'TSLA_totaloperatingexpenses' 'TSLA_totalgrossprofit'
 'TSLA_totaloperatingincome']
 ###################################################################
###################################################################
 Ticker:  TSLA
 Retrieved Data Start Date:  2011-11-14
 Retrieved Data End Date:  2019-07-29
 Data Retrieved:  ['TSLA_operatingrevenue', 'TSLA_totalrevenue', 'TSLA_netincome', 'TSLA_totaloperatingexpenses', 'TSLA_totalgrossprofit', 'TSLA_totaloperatingincome']
 ###################################################################

In [140]:
df.head()

,TSLA open,TSLA high,TSLA low,TSLA close,TSLA volume,housing_index,trade_value,conf_index,conf_index_SE,10 Yrs Rates,20-Yr Maturity Rate,TSLA_operatingrevenue,TSLA_totalrevenue,TSLA_netincome,TSLA_totaloperatingexpenses,TSLA_totalgrossprofit,TSLA_totaloperatingincome
date,,,,,,,,,,,,,,,,,
2010-06-29,19.00,24.9984,17.54,23.89,18766300.0,147.031,104.0133,65.43,3.47,3.63,3.76,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0
2010-06-30,25.79,30.4190,23.30,23.83,17187100.0,147.695,104.4167,65.64,3.40,3.61,3.74,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0
2010-07-02,23.00,23.0998,18.71,19.20,5139800.0,147.695,104.4167,65.64,3.40,3.64,3.77,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0

In [141]:
df.shape

(2163, 17)

### Target Feature Engineering ###

- For now, we are using percent change as the target feature. In the future, we would be engineering more features that possibly encompass the data more accurately

In [142]:
df['percent_change'] = ((df['TSLA close'].shift(-1) - df['TSLA close']) / (df['TSLA close']))*100


df['percent_change'].head()

date
2010-06-29    -0.251151
2010-06-30    -7.847251
2010-07-01   -12.568306
2010-07-02   -16.093750
2010-07-06    -1.924271
Name: percent_change, dtype: float64

In [143]:
df.head()

,TSLA open,TSLA high,TSLA low,TSLA close,TSLA volume,housing_index,trade_value,conf_index,conf_index_SE,10 Yrs Rates,20-Yr Maturity Rate,TSLA_operatingrevenue,TSLA_totalrevenue,TSLA_netincome,TSLA_totaloperatingexpenses,TSLA_totalgrossprofit,TSLA_totaloperatingincome,percent_change
date,,,,,,,,,,,,,,,,,,
2010-06-29,19.00,24.9984,17.54,23.89,18766300.0,147.031,104.0133,65.43,3.47,3.63,3.76,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-0.251151
2010-06-30,25.79,30.4190,23.30,23.83,17187100.0,147.695,104.4167,65.64,3.40,3.61,3.74,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-7.847251
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-12.568306
2010-07-02,23.00,23.0998,18.71,19.20,5139800.0,147.695,104.4167,65.64,3.40,3.64,3.77,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-16.093750
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-1.924271

In [144]:
# For the last couple of months, tesla had a lot of missing fundamentals data, so we have th drop the null values.

print(df.isnull().sum())
print(df.shape)

df = df.dropna()

df.shape
# loses about 60 observations.

TSLA open                       0
TSLA high                       0
TSLA low                        0
TSLA close                      0
TSLA volume                     0
housing_index                   0
trade_value                     0
conf_index                      0
conf_index_SE                   0
10 Yrs Rates                    0
20-Yr Maturity Rate             0
TSLA_operatingrevenue          60
TSLA_totalrevenue              60
TSLA_netincome                 60
TSLA_totaloperatingexpenses    60
TSLA_totalgrossprofit          60
TSLA_totaloperatingincome      60
percent_change                  1
dtype: int64
(2163, 18)

(2103, 18)

### Multiple Features

- Let's try to have multiple features in the notebook to see if that helps the model.
- Time Series Forecasting As Supervised Learning:
- reframing the time sereis allows the access to standard linear and nonlinear machine learning algorithms
- Supervised learning: algorithm learning from the training dataset. Has specific features and targets with values.
- We have to make a sliding window i.e. taking in the previous time steps as input variables, we use the next time step as the output variable.
- Also knowns as sliding window method, window method or a lag method. 
- How the sliding window work would be we would have all 18 features to predict the percent change move. 
###### Multi-Step Forecasting:
- One-Step Forecast: where the next day's percent change is predicted
- Multi-Step Forecase: Two or more future time steps are to be predicted.

##### Pandas shift() Function#####

- in order to create lag observations to forecast observations for a time series dataset.
- Typically, current time(t) and future times (t+1, t+n) are forecast times and past observations (t-1, t-n) are used to make forecasts.

In [145]:
import math
#from keras.preprocessing.sequence import TimeseriesGenerator

In [146]:
df.head()

,TSLA open,TSLA high,TSLA low,TSLA close,TSLA volume,housing_index,trade_value,conf_index,conf_index_SE,10 Yrs Rates,20-Yr Maturity Rate,TSLA_operatingrevenue,TSLA_totalrevenue,TSLA_netincome,TSLA_totaloperatingexpenses,TSLA_totalgrossprofit,TSLA_totaloperatingincome,percent_change
date,,,,,,,,,,,,,,,,,,
2010-06-29,19.00,24.9984,17.54,23.89,18766300.0,147.031,104.0133,65.43,3.47,3.63,3.76,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-0.251151
2010-06-30,25.79,30.4190,23.30,23.83,17187100.0,147.695,104.4167,65.64,3.40,3.61,3.74,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-7.847251
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-12.568306
2010-07-02,23.00,23.0998,18.71,19.20,5139800.0,147.695,104.4167,65.64,3.40,3.64,3.77,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-16.093750
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-1.924271

In [147]:
# if we want to use the day change value as the time-series data instead we would have to convert
# the dataset into day change values by this:

def delta_time_series(data):
    return data[1:] - data[:-1]

In [148]:
df.head()

,TSLA open,TSLA high,TSLA low,TSLA close,TSLA volume,housing_index,trade_value,conf_index,conf_index_SE,10 Yrs Rates,20-Yr Maturity Rate,TSLA_operatingrevenue,TSLA_totalrevenue,TSLA_netincome,TSLA_totaloperatingexpenses,TSLA_totalgrossprofit,TSLA_totaloperatingincome,percent_change
date,,,,,,,,,,,,,,,,,,
2010-06-29,19.00,24.9984,17.54,23.89,18766300.0,147.031,104.0133,65.43,3.47,3.63,3.76,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-0.251151
2010-06-30,25.79,30.4190,23.30,23.83,17187100.0,147.695,104.4167,65.64,3.40,3.61,3.74,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-7.847251
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-12.568306
2010-07-02,23.00,23.0998,18.71,19.20,5139800.0,147.695,104.4167,65.64,3.40,3.64,3.77,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-16.093750
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-1.924271

#### Normalize the dataset:

In [149]:
df.head()

,TSLA open,TSLA high,TSLA low,TSLA close,TSLA volume,housing_index,trade_value,conf_index,conf_index_SE,10 Yrs Rates,20-Yr Maturity Rate,TSLA_operatingrevenue,TSLA_totalrevenue,TSLA_netincome,TSLA_totaloperatingexpenses,TSLA_totalgrossprofit,TSLA_totaloperatingincome,percent_change
date,,,,,,,,,,,,,,,,,,
2010-06-29,19.00,24.9984,17.54,23.89,18766300.0,147.031,104.0133,65.43,3.47,3.63,3.76,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-0.251151
2010-06-30,25.79,30.4190,23.30,23.83,17187100.0,147.695,104.4167,65.64,3.40,3.61,3.74,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-7.847251
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-12.568306
2010-07-02,23.00,23.0998,18.71,19.20,5139800.0,147.695,104.4167,65.64,3.40,3.64,3.77,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-16.093750
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,147.695,104.4167,65.64,3.40,3.58,3.71,31241000.0,31241000.0,-34935000.0,47130000.0,9296000.0,-37834000.0,-1.924271

In [150]:
dataset = df.values

In [151]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaler.fit_transform(dataset.reshape(-1,1))

array([[0.18358664],
       [0.18358664],
       [0.18358664],
       ...,
       [0.30644219],
       [0.03711406],
       [0.18358664]])

#### Split the dataset into train and test sets

In [152]:
dataset.shape

(2103, 18)

In [154]:
scaled = scaler.transform(df)

In [155]:
train = scaled[:1500, :]
test = scaled[1500:, :]

In [156]:
train.shape

(1500, 18)

In [157]:
X_train, X_test = train[:1500,:17], test[:,:17]

In [158]:
X_train.shape, X_test.shape

((1500, 17), (603, 17))

In [159]:
y_train, y_test = train[:1500, 17:18], test[:, 17:18]

In [160]:
y_train.shape, y_test.shape

((1500, 1), (603, 1))

In [161]:
look_back = 7 # 7 dats

### TimeseriesGenerator:
Data: takes in data argument i.e. X_train, should be 2D, axis 0 is the time dimension and has timesteps.
target: target for the model i.e. y_train
length: lenght of output sequences (in number of timesteps)
sampling_rate: period between successive timesteps within sequences.
stride: sequence between successive output sequences.
batch_size: number of timeseries samples in each batch, i.e. number of days you want to predict the target for.
can also use:
start_index: data points earlier than start_index would not be used in output sequence, this is to split the data for test or validation.
end_index: data points later than end_index would not be used in the output sequences, useful to reserve the data for test or validation.

In [162]:
train_data_generator = TimeseriesGenerator(X_train, y_train, 
                                           length=look_back,
                                           sampling_rate=1, 
                                           stride=1, 
                                           batch_size=3)

In [163]:
test_data_generator = TimeseriesGenerator(X_test, y_test, 
                                          length=look_back, 
                                          sampling_rate=1,
                                          stride=1,
                                          batch_size =1)

### Let's Define the Model:

In [164]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [165]:
model = Sequential()
model.add(LSTM(32, input_shape=(look_back, X_train.shape[1])))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

In [166]:
history = model.fit_generator(train_data_generator, epochs = 200)

Epoch 1/200
498/498 [==============================] - 6s 12ms/step - loss: 2.8911e-04
Epoch 2/200
498/498 [==============================] - 4s 7ms/step - loss: 1.0696e-05
Epoch 3/200
498/498 [==============================] - 4s 7ms/step - loss: 5.5131e-06
Epoch 4/200
498/498 [==============================] - 3s 7ms/step - loss: 4.0988e-06
Epoch 5/200
498/498 [==============================] - 4s 8ms/step - loss: 3.6098e-06
Epoch 6/200
498/498 [==============================] - 3s 7ms/step - loss: 4.4898e-06
Epoch 7/200
498/498 [==============================] - 4s 7ms/step - loss: 2.7241e-06
Epoch 8/200
498/498 [==============================] - 4s 8ms/step - loss: 4.4191e-06
Epoch 9/200
498/498 [==============================] - 3s 6ms/step - loss: 8.1269e-06
Epoch 10/200
498/498 [==============================] - 4s 8ms/step - loss: 1.9840e-06
Epoch 11/200
498/498 [==============================] - 4s 7ms/step - loss: 7.1694e-06
Epoch 12/200
498/498 [==============================] - 4s 8ms/step - loss: 1.8602e-06
Epoch 13/200
498/498 [==============================] - 4s 7ms/step - loss: 3.3378e-06
Epoch 14/200
498/498 [==============================] - 4s 7ms/step - loss: 5.9641e-06
Epoch 15/200
498/498 [==============================] - 4s 7ms/step - loss: 9.5324e-07
Epoch 16/200
498/498 [==============================] - 4s 7ms/step - loss: 8.2860e-07
Epoch 17/200
498/498 [==============================] - 3s 6ms/step - loss: 9.3784e-07
Epoch 18/200
498/498 [==============================] - 3s 6ms/step - loss: 1.3611e-06
Epoch 19/200
498/498 [==============================] - 3s 7ms/step - loss: 3.3855e-06
Epoch 20/200
498/498 [==============================] - 3s 7ms/step - loss: 8.0675e-07
Epoch 21/200
498/498 [==============================] - 3s 6ms/step - loss: 1.0222e-06
Epoch 22/200
498/498 [==============================] - 3s 6ms/step - loss: 1.1339e-06
Epoch 23/200
498/498 [==============================] - 4s 7ms/step - loss: 1.0068e-06
Epoch 24/200
498/498 [==============================] - 4s 8ms/step - loss: 2.7751e-06
Epoch 25/200
498/498 [==============================] - 4s 7ms/step - loss: 5.7510e-07
Epoch 26/200
498/498 [==============================] - 4s 7ms/step - loss: 4.8174e-07
Epoch 27/200
498/498 [==============================] - 3s 6ms/step - loss: 1.8827e-06
Epoch 28/200
498/498 [==============================] - 4s 8ms/step - loss: 5.0474e-07
Epoch 29/200
498/498 [==============================] - 4s 8ms/step - loss: 7.5592e-07
Epoch 30/200
498/498 [==============================] - 4s 7ms/step - loss: 2.5242e-07
Epoch 31/200
498/498 [==============================] - 3s 6ms/step - loss: 7.1902e-07
Epoch 32/200
498/498 [==============================] - 4s 7ms/step - loss: 7.7688e-07
Epoch 33/200
498/498 [==============================] - 3s 7ms/step - loss: 2.0378e-07
Epoch 34/200
498/498 [==============================] - 4s 7ms/step - loss: 1.0782e-06
Epoch 35/200
498/498 [==============================] - 4s 7ms/step - loss: 6.6235e-07
Epoch 36/200
498/498 [==============================] - 4s 7ms/step - loss: 7.4581e-07
Epoch 37/200
498/498 [==============================] - 4s 7ms/step - loss: 3.4857e-07
Epoch 38/200
498/498 [==============================] - 3s 7ms/step - loss: 1.4176e-07
Epoch 39/200
498/498 [==============================] - 4s 9ms/step - loss: 5.4746e-07
Epoch 40/200
498/498 [==============================] - 3s 7ms/step - loss: 7.9809e-07
Epoch 41/200
498/498 [==============================] - 4s 7ms/step - loss: 1.8185e-07
Epoch 42/200
498/498 [==============================] - 3s 7ms/step - loss: 4.3633e-07
Epoch 43/200
498/498 [==============================] - 3s 7ms/step - loss: 7.3112e-07
Epoch 44/200
498/498 [==============================] - 4s 7ms/step - loss: 4.7914e-07
Epoch 45/200
498/498 [==============================] - 4s 7ms/step - loss: 2.6325e-07
Epoch 46/200
498/498 [==============================] - 4s 7ms/step - loss: 3.2237e-07
Epoch 47/200
498/498 [==============================] - 3s 7ms/step - loss: 5.2339e-07
Epoch 48/200
498/498 [==============================] - 3s 6ms/step - loss: 1.1972e-07
Epoch 49/200
498/498 [==============================] - 3s 7ms/step - loss: 3.2627e-07
Epoch 50/200
498/498 [==============================] - 3s 7ms/step - loss: 6.3749e-07
Epoch 51/200
498/498 [==============================] - 4s 8ms/step - loss: 1.6438e-07
Epoch 52/200
498/498 [==============================] - 4s 7ms/step - loss: 2.6501e-07
Epoch 53/200
498/498 [==============================] - 3s 6ms/step - loss: 2.0614e-07
Epoch 54/200
498/498 [==============================] - 3s 6ms/step - loss: 2.1826e-07
Epoch 55/200
498/498 [==============================] - 4s 7ms/step - loss: 1.7693e-07
Epoch 56/200
498/498 [==============================] - 4s 7ms/step - loss: 3.2795e-07
Epoch 57/200
498/498 [==============================] - 3s 7ms/step - loss: 1.9344e-07
Epoch 58/200
498/498 [==============================] - 3s 6ms/step - loss: 2.9265e-07
Epoch 59/200
498/498 [==============================] - 3s 7ms/step - loss: 1.4372e-07
Epoch 60/200
498/498 [==============================] - 3s 7ms/step - loss: 4.0593e-07
Epoch 61/200
498/498 [==============================] - 3s 7ms/step - loss: 1.6760e-07
Epoch 62/200
498/498 [==============================] - 4s 7ms/step - loss: 3.4341e-07
Epoch 63/200
498/498 [==============================] - 3s 6ms/step - loss: 1.2875e-07
Epoch 64/200
498/498 [==============================] - 3s 6ms/step - loss: 1.3846e-07
Epoch 65/200
498/498 [==============================] - 3s 6ms/step - loss: 1.9441e-07
Epoch 66/200
498/498 [==============================] - 4s 7ms/step - loss: 3.7045e-07
Epoch 67/200
498/498 [==============================] - 4s 7ms/step - loss: 6.8264e-08
Epoch 68/200
498/498 [==============================] - 3s 7ms/step - loss: 1.2727e-07
Epoch 69/200
498/498 [==============================] - 4s 7ms/step - loss: 2.8972e-07
Epoch 70/200
498/498 [==============================] - 4s 7ms/step - loss: 9.4850e-08
Epoch 71/200
498/498 [==============================] - 3s 6ms/step - loss: 2.5761e-07
Epoch 72/200
498/498 [==============================] - 3s 6ms/step - loss: 9.3358e-08
Epoch 73/200
498/498 [==============================] - 3s 6ms/step - loss: 1.7843e-07
Epoch 74/200
498/498 [==============================] - 4s 7ms/step - loss: 2.0734e-07
Epoch 75/200
498/498 [==============================] - 3s 6ms/step - loss: 1.1106e-07
Epoch 76/200
498/498 [==============================] - 3s 6ms/step - loss: 2.8319e-07
Epoch 77/200
498/498 [==============================] - 3s 7ms/step - loss: 6.8769e-08
Epoch 78/200
498/498 [==============================] - 3s 6ms/step - loss: 9.2972e-08
Epoch 79/200
498/498 [==============================] - 3s 7ms/step - loss: 3.1514e-07
Epoch 80/200
498/498 [==============================] - 3s 7ms/step - loss: 7.6220e-08
Epoch 81/200
498/498 [==============================] - 3s 7ms/step - loss: 7.9633e-08
Epoch 82/200
498/498 [==============================] - 3s 7ms/step - loss: 9.4127e-08
Epoch 83/200
498/498 [==============================] - 3s 7ms/step - loss: 9.1622e-08
Epoch 84/200
498/498 [==============================] - 3s 6ms/step - loss: 1.8736e-07
Epoch 85/200
498/498 [==============================] - 3s 7ms/step - loss: 7.8992e-08
Epoch 86/200
498/498 [==============================] - 3s 6ms/step - loss: 1.1537e-07
Epoch 87/200
498/498 [==============================] - 3s 6ms/step - loss: 1.0946e-07
Epoch 88/200
498/498 [==============================] - 3s 6ms/step - loss: 1.3931e-07
Epoch 89/200
498/498 [==============================] - 3s 7ms/step - loss: 2.5347e-07
Epoch 90/200
498/498 [==============================] - 3s 7ms/step - loss: 9.6113e-08
Epoch 91/200
498/498 [==============================] - 3s 6ms/step - loss: 1.6203e-07
Epoch 92/200
498/498 [==============================] - 3s 6ms/step - loss: 4.4585e-08
Epoch 93/200
498/498 [==============================] - 4s 8ms/step - loss: 5.3773e-08
Epoch 94/200
498/498 [==============================] - 3s 7ms/step - loss: 1.1695e-07
Epoch 95/200
498/498 [==============================] - 3s 6ms/step - loss: 1.4964e-07
Epoch 96/200
498/498 [==============================] - 3s 6ms/step - loss: 1.2406e-07
Epoch 97/200
498/498 [==============================] - 3s 6ms/step - loss: 6.6411e-08
Epoch 98/200
498/498 [==============================] - 3s 6ms/step - loss: 9.4529e-08
Epoch 99/200
498/498 [==============================] - 3s 7ms/step - loss: 1.1362e-07
Epoch 100/200
498/498 [==============================] - 4s 7ms/step - loss: 1.4044e-07
Epoch 101/200
498/498 [==============================] - 3s 6ms/step - loss: 1.0024e-07
Epoch 102/200
498/498 [==============================] - 3s 7ms/step - loss: 7.5328e-08
Epoch 103/200
498/498 [==============================] - 3s 7ms/step - loss: 1.5410e-07
Epoch 104/200
498/498 [==============================] - 3s 7ms/step - loss: 1.3145e-07
Epoch 105/200
498/498 [==============================] - 3s 7ms/step - loss: 4.8477e-08
Epoch 106/200
498/498 [==============================] - 3s 6ms/step - loss: 6.2102e-08
Epoch 107/200
498/498 [==============================] - 3s 7ms/step - loss: 8.2098e-08
Epoch 108/200
498/498 [==============================] - 3s 6ms/step - loss: 3.8376e-08
Epoch 109/200
498/498 [==============================] - 4s 7ms/step - loss: 1.7062e-07
Epoch 110/200
498/498 [==============================] - 3s 6ms/step - loss: 1.0090e-07
Epoch 111/200
498/498 [==============================] - 4s 7ms/step - loss: 1.3372e-07
Epoch 112/200
498/498 [==============================] - 3s 6ms/step - loss: 7.1787e-08
Epoch 113/200
498/498 [==============================] - 3s 6ms/step - loss: 5.5583e-08
Epoch 114/200
498/498 [==============================] - 3s 6ms/step - loss: 5.4519e-08
Epoch 115/200
498/498 [==============================] - 3s 6ms/step - loss: 8.5577e-08
Epoch 116/200
498/498 [==============================] - 3s 7ms/step - loss: 1.5607e-07
Epoch 117/200
498/498 [==============================] - 3s 6ms/step - loss: 5.2895e-08
Epoch 118/200
498/498 [==============================] - 3s 7ms/step - loss: 3.9769e-08
Epoch 119/200
498/498 [==============================] - 4s 7ms/step - loss: 5.4038e-08
Epoch 120/200
498/498 [==============================] - 3s 7ms/step - loss: 3.0278e-07
Epoch 121/200
498/498 [==============================] - 4s 7ms/step - loss: 3.3200e-08
Epoch 122/200
498/498 [==============================] - 3s 7ms/step - loss: 2.6199e-08
Epoch 123/200
498/498 [==============================] - 3s 7ms/step - loss: 4.1321e-08
Epoch 124/200
498/498 [==============================] - 4s 7ms/step - loss: 5.3327e-08
Epoch 125/200
498/498 [==============================] - 4s 7ms/step - loss: 1.1240e-07
Epoch 126/200
498/498 [==============================] - 4s 7ms/step - loss: 4.7165e-08
Epoch 127/200
498/498 [==============================] - 4s 7ms/step - loss: 4.5761e-08
Epoch 128/200
498/498 [==============================] - 4s 8ms/step - loss: 8.2068e-08
Epoch 129/200
498/498 [==============================] - 3s 7ms/step - loss: 7.3048e-08
Epoch 130/200
498/498 [==============================] - 4s 8ms/step - loss: 2.4487e-08
Epoch 131/200
498/498 [==============================] - 4s 7ms/step - loss: 2.0453e-07
Epoch 132/200
498/498 [==============================] - 4s 8ms/step - loss: 3.7234e-08
Epoch 133/200
498/498 [==============================] - 4s 7ms/step - loss: 2.9087e-08
Epoch 134/200
498/498 [==============================] - 4s 8ms/step - loss: 1.0708e-07
Epoch 135/200
498/498 [==============================] - 3s 7ms/step - loss: 4.3032e-08
Epoch 136/200
498/498 [==============================] - 4s 7ms/step - loss: 2.8314e-08
Epoch 137/200
498/498 [==============================] - 4s 8ms/step - loss: 1.4646e-07
Epoch 138/200
498/498 [==============================] - 3s 7ms/step - loss: 2.0094e-08
Epoch 139/200
498/498 [==============================] - 3s 7ms/step - loss: 7.2043e-08
Epoch 140/200
498/498 [==============================] - 3s 7ms/step - loss: 5.8785e-08
Epoch 141/200
498/498 [==============================] - 3s 7ms/step - loss: 2.6371e-07
Epoch 142/200
498/498 [==============================] - 3s 7ms/step - loss: 2.3154e-08
Epoch 143/200
498/498 [==============================] - 3s 6ms/step - loss: 4.4600e-08
Epoch 144/200
498/498 [==============================] - 3s 7ms/step - loss: 7.3734e-08
Epoch 145/200
498/498 [==============================] - 4s 8ms/step - loss: 9.2291e-08
Epoch 146/200
498/498 [==============================] - 3s 7ms/step - loss: 2.5189e-08
Epoch 147/200
498/498 [==============================] - 3s 7ms/step - loss: 7.4395e-08
Epoch 148/200
498/498 [==============================] - 3s 6ms/step - loss: 7.8545e-08
Epoch 149/200
498/498 [==============================] - 3s 6ms/step - loss: 3.0150e-08
Epoch 150/200
498/498 [==============================] - 3s 6ms/step - loss: 5.0728e-08
Epoch 151/200
498/498 [==============================] - 3s 6ms/step - loss: 7.2548e-08
Epoch 152/200
498/498 [==============================] - 3s 6ms/step - loss: 4.1203e-08
Epoch 153/200
498/498 [==============================] - 3s 6ms/step - loss: 6.3533e-08
Epoch 154/200
498/498 [==============================] - 3s 6ms/step - loss: 3.1506e-08
Epoch 155/200
498/498 [==============================] - 3s 6ms/step - loss: 8.6521e-08
Epoch 156/200
498/498 [==============================] - 3s 6ms/step - loss: 1.2452e-07
Epoch 157/200
498/498 [==============================] - 3s 6ms/step - loss: 2.1737e-08
Epoch 158/200
498/498 [==============================] - 3s 6ms/step - loss: 2.4958e-08
Epoch 159/200
498/498 [==============================] - 3s 6ms/step - loss: 6.0156e-08
Epoch 160/200
498/498 [==============================] - 3s 6ms/step - loss: 4.8555e-08
Epoch 161/200
498/498 [==============================] - 3s 7ms/step - loss: 8.6068e-08
Epoch 162/200
498/498 [==============================] - 4s 8ms/step - loss: 2.8474e-08
Epoch 163/200
498/498 [==============================] - 4s 7ms/step - loss: 4.5404e-08
Epoch 164/200
498/498 [==============================] - 4s 8ms/step - loss: 5.1504e-08
Epoch 165/200
498/498 [==============================] - 4s 7ms/step - loss: 4.5788e-08
Epoch 166/200
498/498 [==============================] - 4s 8ms/step - loss: 4.4157e-08
Epoch 167/200
498/498 [==============================] - 4s 9ms/step - loss: 3.3941e-08
Epoch 168/200
498/498 [==============================] - 4s 8ms/step - loss: 4.8076e-08
Epoch 169/200
498/498 [==============================] - 4s 7ms/step - loss: 1.1092e-07
Epoch 170/200
498/498 [==============================] - 4s 8ms/step - loss: 5.8668e-08
Epoch 171/200
498/498 [==============================] - 4s 7ms/step - loss: 1.6865e-08
Epoch 172/200
498/498 [==============================] - 4s 8ms/step - loss: 3.1948e-08
Epoch 173/200
498/498 [==============================] - 4s 8ms/step - loss: 2.5157e-08
Epoch 174/200
498/498 [==============================] - 4s 8ms/step - loss: 3.5909e-08
Epoch 175/200
498/498 [==============================] - 4s 8ms/step - loss: 4.8310e-08
Epoch 176/200
498/498 [==============================] - 3s 7ms/step - loss: 3.3667e-08
Epoch 177/200
498/498 [==============================] - 4s 7ms/step - loss: 4.1695e-08
Epoch 178/200
498/498 [==============================] - 3s 7ms/step - loss: 1.1657e-07
Epoch 179/200
498/498 [==============================] - 4s 8ms/step - loss: 1.2336e-08
Epoch 180/200
498/498 [==============================] - 4s 7ms/step - loss: 2.8782e-08
Epoch 181/200
498/498 [==============================] - 3s 7ms/step - loss: 3.9131e-08
Epoch 182/200
498/498 [==============================] - 4s 7ms/step - loss: 4.6901e-08
Epoch 183/200
498/498 [==============================] - 3s 7ms/step - loss: 1.8158e-08
Epoch 184/200
498/498 [==============================] - 4s 8ms/step - loss: 4.5007e-08
Epoch 185/200
498/498 [==============================] - 4s 7ms/step - loss: 4.4638e-08
Epoch 186/200
498/498 [==============================] - 4s 7ms/step - loss: 6.3535e-08
Epoch 187/200
498/498 [==============================] - 4s 8ms/step - loss: 2.2763e-08
Epoch 188/200
498/498 [==============================] - 4s 8ms/step - loss: 2.9484e-08
Epoch 189/200
498/498 [==============================] - 4s 8ms/step - loss: 5.4904e-08
Epoch 190/200
498/498 [==============================] - 5s 10ms/step - loss: 5.1915e-08
Epoch 191/200
498/498 [==============================] - 4s 8ms/step - loss: 1.8377e-08
Epoch 192/200
498/498 [==============================] - 4s 8ms/step - loss: 4.5073e-08
Epoch 193/200
498/498 [==============================] - 4s 8ms/step - loss: 4.2711e-08
Epoch 194/200
498/498 [==============================] - 5s 9ms/step - loss: 2.9672e-08
Epoch 195/200
498/498 [==============================] - 6s 11ms/step - loss: 2.5060e-08
Epoch 196/200
498/498 [==============================] - 6s 11ms/step - loss: 3.5123e-08
Epoch 197/200
498/498 [==============================] - 5s 9ms/step - loss: 4.0983e-08
Epoch 198/200
498/498 [==============================] - 5s 10ms/step - loss: 3.3749e-08
Epoch 199/200
498/498 [==============================] - 5s 9ms/step - loss: 5.6295e-08
Epoch 200/200
498/498 [==============================] - 4s 8ms/step - loss: 5.2442e-08

In [167]:
history

In [169]:
#!pip install pydot

## To see what your model looks:

from keras.utils import plot_model
plot_model(model, to_file='model.png', show_shapes=True)
from IPython.display import Image
Image(filename='model.png')

In [170]:
# history = model.fit_generator(train_data_generator, epochs=100).history

In [171]:
model.save('first_model.h')

In [172]:
from keras.models import load_model

model = load_model('first_model.h')

In [173]:
model.evaluate_generator(test_data_generator)

1.5216502205986937e-06

In [174]:
trainPredict = model.predict_generator(train_data_generator)
trainPredict.shape

(1493, 1)

In [175]:
testPredict = model.predict_generator(test_data_generator)
testPredict.shape

(596, 1)

In [176]:
## scale values back to real index/price range.

trainPredict = scaler.inverse_transform(trainPredict)
testPredict = scaler.inverse_transform(testPredict)
dataset_y = scaler.inverse_transform(dataset_y)

NameError: name 'dataset_y' is not defined

In [ ]:
from math import mean_squared_error

In [ ]:
# calculating the room mean squared erro

train_score = math.sqrt(mean_squared_error(y_train[:,0], trainPredict[:,0]))
print('Train Score: %0.2f RMSE' % (train_score))

test_score = math.sqrt(mean_squared_error(y_test[:, 0], testPredict[:, 0]))
print('Test Score: %.2f RMSE' % (test_score))

# this would print out the RMSE score

In [ ]:
# you can also plot the train and test predictions.

### ANOTHER MODEL:

In [ ]:
regressor = Sequential()


regressor.add(LSTM(32, input_shape=(look_back, X_train.shape[1])))
regressor.add(Dropout(0.2))
# 32 is the batch_size

# Adding the second layer

regressor.add(LSTM(units=50, return_sequences=True))
regressor.add(Dropout(0.2))

# Adding a third layer
regressor.add(LSTM(units=50, return_sequences=False))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units=1))

# Compiling the RNN
regressor.compile(optimizer='adam', loss='mean_squared_error')

# Fitting the RNN to the Training set

regressor.fit(X_train, y_train, epochs =100, batch_size =32)